.App {
  align-content: "center";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/smoke.jpg");
}
.GridList {
  margin: auto;
  text-align: center;
  padding: 1%;
}
h1 {
  text-align: center;
}
a {
  color: hsl(0, 0%, 100%);
}

.Avengers {
  padding: 2%;
}

@font-face {
  font-family: "american-captain";
  font-style: "normal";
  font-weight: 400;
  src:
    local('American Captain')
    url('/American Caption.otf') format('otf')
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}